<!-- spaces issues -->
<%= form_for @order, html:{ id: "order-form" } do |f| %>
<%= render 'shared/errors', object: @order %>
  <div class="row">
    <div class="col">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control' %>
    </div> 

    <div class="col">
      <p><strong>Items:</strong></p>
      <div id="line_items">
        <%= f.fields_for :line_items do |line_item| %>
          <%= render 'line_item_fields', f: line_item %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'add item', f, :line_items %>
        </div>
      </div>
    </div>
  </div></br>

  <%= f.submit %>
<% end %>

