<div class="nested-fields">
  <%= f.label :item_id %>
  <%= f.select(:item_id, options_from_collection_for_select(@items, 'id', 'name', f.object.item_id)) %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity, required:  true, min: 1 %>
  <%= link_to_remove_association "remove item", f,  data: { confirm: 'Are you sure?' } %>
</div>
