<!-- variable name -->
<%= form_for @member, url: member_url do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    <%= f.password_field :password, autocomplete: "off", required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
  </div>

  <div class="field">
    <%= f.label :role %><br/>
    <%= f.select(:role_id, User::ROLE_LIST) %>
  </div>

  <div class="actions">
    <br/><%= f.submit "Submit" %>
  </div>
<% end %>

