<div class="container jumbotron">
  <h1>Users</h1>
  <p><%= link_to 'Add User', new_member_path, class: 'btn btn-primary pull-right' %></p>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= User::ROLE_LIST_HASH.invert[member.role_id] %></td>
        <td><%= link_to 'Show', member_path(member) %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member_path(member), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>