<div class="container custom-width">
  <div class="jumbotron">
    <p>
      <strong>Name:</strong>
      <%= @member.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @member.email %>
    </p>
    
    <p>
      <strong>Role:</strong>
      <%= User::ROLE_LIST_HASH.invert[@member.role_id].capitalize %>
    </p>



    <%= link_to 'Edit', edit_member_path(@member) %> |
    <%= link_to 'Back', :back %>
  
  </div>
</div>